h1{
	color: #00AEE3
 	border-color:#E30000
 	border-style: solid;
 	border-width: 5px;
}
h2{
color: #00AEE3

}

h3{color: #00AEE3}

h4{color: #00AEE3}

li{color: #00AEE3}
ol{

	color: #00AEE3
}

body {


	background-image: url(sensual.jpg);
}