img {

width: 30%;
height: 30%;
float: left;
margin: 1.66%;
}

h1{

font-family: 'Oswald', sans-serif;
margin: 1.66%;
border-bottom: 2px  #f1f1f1 solid;
width: 30%;
padding-bottom: 20px;
}

/*

https://i.redd.it/qwyf0snncof11.jpg
https://i.redd.it/oyuixcve0pf11.jpg
https://i.redd.it/1cxljqwv3pf11.jpg
https://i.imgur.com/KIxUFNB.jpg
https://i.imgur.com/xGWRfdw.jpg
https://i.redd.it/ce07s7houqf11.jpg
http://i.imgur.com/wmcKObL.jpg
https://i.redd.it/ik4ttowm9mf11.jpg
https://i.redd.it/2jtqbqx8llf11.jpg
https://i.redd.it/qitpgu7jdjf11.jpg


*/